<footer class="footer-padding" id="footer">
	<div class="container">	
	<div class="footer-cp">@2018 - CaribOtaku</div>
    <div class="footer-ot">
      <div class="footer-links">
        <a href="" title="Advertise on Caribbean Otaku">ADVERTISE</a>
        |
        <a href="" title="Write for Caribbean Otaku">WRITE FOR US</a>
      </div>
    </div>  
	<div class="footer-soc">
		<ul class="car-social-icons">
		li><a href="https://twitter.com/Caribbean_Otaku" class="fa fa-twitter" style="font-size:20px;color:white" target="_blank"></a></li>
		<li><a href="" class="fa fa-youtube" style="font-size:20px;color:white" target="_blank"></a></li>
		<li><a href="" class="fa fa-instagram" style="font-size:20px;color:white" target="_blank"></a></li>	
		</ul>
		</div>
	</div>
</footer>
