<header id="header">
	<!-- Your custom header here -->
	<nav>
		<div class="menu-icon">
			<i class="fa fa-bars fa-2x">
			</i>
		</div>
		<div class="logo">
		<a href="{{ site.baseurl }}">	
		Caribbean Otaku Test
		</div>
		<div class="menu">
			<ul>
				<li><a href="">News</a></li>
				<li><a href="">Anime</a></li>
				<li><a href="">Manga</a></li>
				<li><a href="">Games</a></li>
				<li><a href="">Contact</a></li>
				<li><a href="https://twitter.com/Caribbean_Otaku" class="fa fa-twitter" style="font-size:20px;color:white" target="_blank"></a></li>
				<li><a href="" class="fa fa-youtube" style="font-size:20px;color:white" target="_blank"></a></li>
				<li><a href="" class="fa fa-instagram" style="font-size:20px;color:white" target="_blank"></a></li>
			</ul>
		</div>
	</nav>
	
</header>

<!--
<header id="header">
	<div class="menu-icon">
		<i class="fa fa-bars fa-2x">
	</div>
	<a href="{{ site.baseurl }}">
	  <h1>Caribbean Otaku</h1>
	</a>
		<nav>
			<ul>
				<li><a href="">News</a></li>
				<li><a href="">Anime</a></li>
				<li><a href="">Manga</a></li>
				<li><a href="">Games</a></li>
			</ul>
		</nav>
</header>
-->
